/*Button*/
.startButton{
	background-image: url(https://assets.publishing.service.gov.uk/static/icon-pointer-73fdb5b0e577f60fabed035f3b3f52ef73742431aef9e01ac01bdf40efc1a266.png);
	padding: 0.60em 1.7em 0.45em 0.67em;
    background-size: 30px 19px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 24px;
    line-height: 0.66667;
}
.button{
	padding: 0.60em 1.7em 0.45em 0.67em;
	font-weight: 700;
    font-size: 24px;
    line-height: 0.66667;
}